# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
gen/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app_framework_tool.sh
ios/Flutter/flutter_export_environment.sh
ios/Flutter/pod_helper.rb
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/ServiceDefinitions.json
lib/generated_plugin_registrant.dart
lib_core.stamp
lib_core.snapshot.d
platform_plugins.gen_snapshot.stamp
platform_plugins.d
/plugins_registry.dat
/project.xcworkspace
/symbols.zip
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/key.properties
android/local.properties
/tool/ide/flutter_ide.iml
.idea/runConfigurations/main_dart.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_for_Android.xml
.idea/libraries/KotlinJavaRuntime.xml
.idea/modules.xml
.idea/workspace.xml
*.navigation
android/app/src/main/java/io/flutter/plugins/DartExecutor.java
android/app/src/main/java/io/flutter/plugins/FlutterPlugin.java
android/app/src/main/java/io/flutter/plugins/PluginRegistry.java
android/app/src/main/java/io/flutter/plugins/Plugin.java
android/app/src/main/java/io/flutter/plugins/PlatformView.java
android/app/src/main/java/io/flutter/plugins/PlatformViewFactory.java
android/app/src/main/java/io/flutter/plugins/PlatformViewRegistry.java
android/app/src/main/java/io/flutter/plugins/PlatformView.java
android/app/src/main/java/io/flutter/plugins/PlatformViewFactory.java
android/app/src/main/java/io/flutter/plugins/PlatformViewRegistry.java
android/app/src/main/java/io/flutter/plugins/PlatformView.java
android/app/src/main/java/io/flutter/plugins/PlatformViewFactory.java
android/app/src/main/java/io/flutter/plugins/PlatformViewRegistry.java
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/pod_helper.rb
/ios/Pods/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/ServiceDefinitions.json
/lib/generated_plugin_registrant.dart
/lib_core.stamp
/lib_core.snapshot.d
/platform_plugins.gen_snapshot.stamp
/platform_plugins.d
/plugins_registry.dat
/project.xcworkspace
/symbols.zip
/tool/ide/flutter_ide.iml
.idea/runConfigurations/main_dart.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_for_Android.xml
.idea/libraries/KotlinJavaRuntime.xml
.idea/modules.xml
.idea/workspace.xml
*.navigation
/build/
build/
